@model IEnumerable<ProyectoTickets.CATEGORIA>

@{
    ViewBag.Title = "Categorías de los Incidentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categorías</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Categorías
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_CATEGORIA)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_CATEGORIA }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_CATEGORIA }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_CATEGORIA })
        </td>
    </tr>
}

</table>
