@model ProyectoTickets.INCIDENTE

@{
    ViewBag.Title = "Delete";
    Layout = null;
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jquery-ui.css")
}



    <div class="card-all">

        <div class="text-center">
          
            <h2>Borrar Tickets</h2>
            <hr />  
            <p>Deseas borrar el ticket   <label class="label-primary label id_letra">@Html.DisplayName("ID")-00-@Html.DisplayFor(model => model.ID_INCIDENTE)</label>,
            recuerda que si lo borras no se podra <strong>recuperar</strong></p>
            <p> </p>
        </div>
        <hr />
        <div class="card-body ">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
               
            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="btnBorrarW">
                            <input type="submit" value="Borrar" id="alertaBorrar" name="alertaBorrar" class="btn btn-danger btnBorrarW" />
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <div>
                            <button type="button"
                                    class="btn btn-default modalBtn btnModals"
                                    data-dismiss="modal">
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            }

        </div>
    </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/main.js")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/jquery-ui.js")
        @Scripts.Render("~/Scripts/DatePickerReady.js")
