@model ProyectoTickets.DEPARTAMENTO

@{
    ViewBag.Title = "Delete";
    Layout = null;
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jquery-ui.css")
}

@*<h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>DEPARTAMENTO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DEPARTAMENTO1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEPARTAMENTO1)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@
<div class="card-all">

    <div class="text-center">

        <h2>Borrar Departamento</h2>
        <hr />
        <p>
            Deseas borrar el departamento: <label class="label-primary label id_letra">@Html.DisplayFor(model => model.DEPARTAMENTO1)</label>,
            recuerda que si lo borras no se podra <strong>recuperar</strong>
        </p>
        <p> </p>
    </div>
    <hr />
    <div class="card-body ">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="btnBorrarW">
                            <input type="submit" value="Borrar" id="alertaBorrarDepartamento" name="alertaBorrarDepartamento" class="btn btn-danger btnBorrarW" />
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <div>
                            <button type="button"
                                    class="btn btn-default modalBtn btnModals"
                                    data-dismiss="modal">
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        }

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/main.js")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jquery-ui.js")
@Scripts.Render("~/Scripts/DatePickerReady.js")
