@model IEnumerable<ProyectoTickets.DEPARTAMENTO>

@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h2>Departamentos</h2>*@


@*<p>
        @Html.ActionLink("Crear Nuevo", "Create")
    </p>
    <body>
        <table class="table">
            <tr>
                <th>
                    Nombre del Departamento
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DEPARTAMENTO1)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID_DEPARTAMENTO }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID_DEPARTAMENTO }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_DEPARTAMENTO })
                    </td>
                </tr>
            }
        </table>*@
<br />
<br />
<br />

<div class="body-departamentos">
    <div class="grid-body">

        <h2>Departamentos</h2>
        <hr />
        @Html.ActionLink("Nuevo Departamento", "Create", "DEPARTAMENTO", new { @data_toggle = "modal", @data_target = "#newDepartamento", @class = " btn btn-success" })
        <br />
        <br />
        <div class="padding"></div>
        <div class="row">
            <div class="container">
                @*<h2>Administración de Departamentos</h2>*@
                @*<div class="row justify-content-center">*@
                <div class="col-sm-11">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr class="bg-primary">
                                <th scope="col">Nombre</th>
                                <th scope="col" class="col-sm-3">Acciones</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DEPARTAMENTO1)
                                </td>
                                @*<td class="center-block"></td>*@

                                <td class="pull-right">
                                    @Html.ActionLink("Ver", "Details", new { id = item.ID_DEPARTAMENTO }, new { @class = " btn btn-info" })
                                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_DEPARTAMENTO }, new { @class = " btn btn-warning" })
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_DEPARTAMENTO }, new { @class = " btn btn-danger", @data_toggle = "modal", @data_target = "#deleteDepartamento" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                @*</div>*@
            </div>
        </div>
    </div>

    @*  Modal CREATE *@

    <div class="modal fade"
         id="newDepartamento"
         tabindex="-1"
         role="dialog"
         aria-labelledby="newIssue"
         aria-hidden="true"
         style="display: none">
        <div class="modal-wrapper">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#" method="post">
                        <div class="modal-body">
                            <br />
                            CARGANDO...
                            <br />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    @*  Modal DELETE *@

    <div class="modal fade"
         id="deleteDepartamento"
         tabindex="-1"
         role="dialog"
         aria-labelledby="newIssue"
         aria-hidden="true"
         style="display: none; ">
        <div class="modal-wrapper">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 451.988636px; padding:5px ">

                    <form action="#" method="post">
                        <div class="modal-body">
                            <br />
                            CARGANDO...
                            <br />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
