@model ProyectoTickets.AspNetUsers

@{
    ViewBag.Title = "Delete";
    Layout = null;
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jquery-ui.css")
}

<div class="card-all">

    <div class="text-center">

        <h2>Borrar Usuario</h2>
        <hr />
        <p>
            Deseas borrar el usuario: <label class="label-primary label id_letra">@Html.DisplayFor(model => model.UserName)</label>,
            recuerda que si lo borras no se podra <strong>recuperar</strong>
        </p>
        <p> </p>
    </div>
    <hr />
    <div class="card-body ">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="btnBorrarW">
                            <input type="submit" value="Borrar" id="alertaBorrarUsuario" name="alertaBorrarUsuario" class="btn btn-danger btnBorrarW" />
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <div>
                            <button type="button"
                                    class="btn btn-default modalBtn btnModals"
                                    data-dismiss="modal">
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        }

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/main.js")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jquery-ui.js")
@Scripts.Render("~/Scripts/DatePickerReady.js")

