@model IEnumerable<ProyectoTickets.AspNetUsers>

@{
    ViewBag.Title = "Gestion de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div class="body-usuarios">
    <div class="grid-body">

        <h2>Usuarios</h2>
        <hr />
        @Html.ActionLink("Crear Nuevo Usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @data_toggle = "modal", @data_target = "#registerModal", @class = " btn btn-success" })
        <br />
        <br />
        <div class="padding"></div>
        <div class="row">
            <div class="container">
                <div class="col-sm-11">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr class="bg-primary">
                                <th scope="col">Usuario</th>
                                <th scope="col">Email</th>
                                <th scope="col">Activo</th>
                                <th scope="col" class="col-sm-3">Acciones</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                                </td>
                                @*<td class="center-block"></td>*@

                                <td class="pull-right">
                                    @Html.ActionLink("Ver", "Details", new { id = item.Id }, new { @class = " btn btn-info" })
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = " btn btn-warning" })
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = " btn btn-danger", @data_toggle = "modal", @data_target = "#deleteUsuario" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*  Modal CREATE *@

    <div class="modal fade"
         id="newUsuario"
         tabindex="-1"
         role="dialog"
         aria-labelledby="newIssue"
         aria-hidden="true"
         style="display: none">
        <div class="modal-wrapper">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#" method="post">
                        <div class="modal-body">
                            <br />
                            CARGANDO...
                            <br />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    @*  Modal DELETE *@

    <div class="modal fade"
         id="deleteUsuario"
         tabindex="-1"
         role="dialog"
         aria-labelledby="newIssue"
         aria-hidden="true"
         style="display: none; ">
        <div class="modal-wrapper">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 451.988636px; padding:5px ">

                    <form action="#" method="post">
                        <div class="modal-body">
                            <br />
                            CARGANDO...
                            <br />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    @*  Modal Registrar Usuarios *@

    <div class="modal fade"
         id="registerModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="newIssue"
         aria-hidden="true"
         style="display: none">
        <div class="modal-wrapper">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 451.988636px; padding:10px">

                    <form action="#" method="post">
                        <div class="modal-body">
                            <br />
                            CARGANDO...
                            <br />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

