@{
    ViewBag.Title = "Inicio";
}
@section  scripts{
    <script src="@Url.Content("~/Content/estiloindex.js")" type="text/javascript"></script>
}
<div>
    <section class="showcase">
        <header>
            <h1 class="logo">SGT</h1>
            <div class="toggle"></div>
        </header>
        <div class="overlay"></div>
        <div class="text">

            <h3>Sistema de Gestión de Tickets</h3>
            <p>

            </p>
            @Html.Partial("_LoginPartial")

        </div>
        <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
    </section>
    <div class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li>@Html.ActionLink("Administrar Categorías", "Index", "CATEGORIA")</li>
            <li>@Html.ActionLink("Administrar Roles", "Index", "AspNetRoles")</li>
            <li>@Html.ActionLink("Administrar Roles", "Index", "AspNetRoles")</li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>



@*  Modal Iniciar sesion *@

<div class="modal fade"
     id="loginModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="newIssue"
     aria-hidden="true"
     style="display: none">
    <div class="modal-wrapper">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 451.988636px; padding:10px">

                <form action="#" method="post">
                    <div class="modal-body">
                        <br />
                        CARGANDO...
                        <br />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@*  Modal crear user *@

<div class="modal fade"
     id="registerModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="newIssue"
     aria-hidden="true"
     style="display: none">
    <div class="modal-wrapper">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 451.988636px; padding:10px">

                <form action="#" method="post">
                    <div class="modal-body">
                        <br />
                        CARGANDO...
                        <br />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>